@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&family=Tiny5&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: #00FFFF;
    --primary-color: #2F4F4F;
    --secundary-color: #7FFFD4;
    --font-selecionada: "Rubik Wet Paint", system-ui;
}
body{
    background-color: var(--bg-color);
    color: var(--primary-color);
}
.barra{
    width: 100%;
    padding: 2rem;
    position: fixed;
    box-shadow: 1px 2px var(--secundary-color);
    
}